
body{
   background-image:  url('../imgs/img1.png');
}

.jumbotron{
    background-color: deepskyblue !important; 
    color: white;
}

.panel-heading{
    background-color: deepskyblue !important;
    color: white !important;
}


.panel-body{
    color: #2b2b2b !important;    
}

#navbar{
        background-color: #2b2b2b;
        
}


.navbar-brand:link, .navbar-brand:visited{
    color: deepskyblue !important;
    width: 1px;
}

.navbar-brand:hover, .navbar-brand:active{
    color:white !important;
}

#navbar li a:link, #navbar li a:visited{
    color: white !important;
}

#navbar li a:hover, #navbar li a:active{
    color: deepskyblue !important;
}

.dropdown-menu{
    background-color: #2b2b2b;
} 

//todo hijo d
.open > a{
    background-color: #2b2b2b !important;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

 

.form-group > label {
	color: white;
        
	
}